/*
Theme Name: Skeleton
Theme URI: http://Author.co.il
Author: Author
Author URI: http://Author.co.il
Description: Skeleton
Version: 1.0
Text Domain: Skeleton
*/



/** FORM validation */
.wpcf7-not-valid-tip{display:none !important;}
.wpcf7-validation-errors{display:none !important;}
input[aria-invalid="true"]{border-color:#ee3342;}
textarea[aria-invalid="true"]{border-color:#ee3342;}
select[aria-invalid="true"]{width:200px;;border-color:red !important;}
.wpcf7-select.wpcf7-not-valid{border:1px solid red !important;}
.wpcf7-not-valid{border:1px solid red !important;background:#faf1f1;}

.error input, .error textarea, .error select{background:#f3f3f3 !important;}

div.wpcf7 .ajax-loader{
    display: none !important;
}

body .rplg-slider .rplg-stars {
    display: block !important;
    margin-right: -8px!important;
    clear: both;
    margin-bottom: 5px;
}

body .rplg-slider .rplg-box .rplg-box-content {
	direction: rtl !important;
	text-align: right !important;
}
body .rplg .rplg-review-badge {
	right: auto !important;
	left: 12px;
}

.services-widget-wrapper + .widgettitle {
	text-align: center;
    margin-top: 30px;
}

.wpcf7 .wpcf7-form input[type="url"], .wpcf7 .wpcf7-form input[type="email"], .wpcf7 .wpcf7-form input[type="tel"] {
    direction: inherit;
}